{:min-bb-version "0.8.156"
 :pods           {org.babashka/fswatcher {:version "0.0.5"}}
 :paths          ["resources" "scripts"]

 :tasks {:requires         ([babashka.fs :as fs]
                            [clojure.string :as str]
                            [babashka.tasks :refer [shell]])
         :init             (do (def paths ["src" "test"]))
         dev               {:doc "Start a local development server" :task (clojure "-M:dev:repl/dev")}
         remote-dev        {:doc  "Start nREPL for remote development. Designed to be ran on the RPI"
                            :task (do
                                    (shell "sudo systemctl stop fairybox-startup.service")
                                    (shell "systemctl --user stop  fairybox.service")
                                    (clojure {:extra-env {"NREPL_HOST" "0.0.0.0"}} "-M:dev:remote-dev"))}
         nrepl             {:doc  "starts the nREPL"
                            :task (clojure "-M:dev:nrepl")}
         cider             {:doc  "starts the cider"
                            :task (clojure "-M:dev:cider")}
         test              {:doc  "Run all tests or specific test suites"
                            :task (apply clojure "-M:dev:kaocha" *command-line-args*)}
         uber              {:doc  "builds the uberjar"
                            :task (clojure "-T:build all")}
         watch             {:requires ([pod.babashka.fswatcher :as fw])
                            :task     (exec 'watch/dev-watch)}
         sync              {:task (exec 'sync/do-sync!)}
         credits           {:task (exec 'credits/build-attribution)}
         fmt               {:doc  "Format code with cljfmt"
                            :task (if (seq *command-line-args*)
                                    (apply shell "cljfmt --quiet -v fix" (if (seq *command-line-args*) *command-line-args* paths))
                                    (do
                                      (apply shell "cljfmt --quiet -v fix" paths)
                                      (shell "cljfmt --config .cljfmt-deps.edn --quiet -v fix deps.edn")))}
         fmt:check         {:doc  "Check code formatting without making changes"
                            :task (apply shell "cljfmt check " paths)}
         lint:copy-configs {:doc  "Copy clj-kondo configs from dependencies"
                            :task (shell "clj-kondo" "--lint" (-> (shell {:out :string} "clojure -Spath -M:dev:kaocha") :out str/trim) "--dependencies" "--copy-configs" "--skip-lint")}
         lint              {:doc  "Lint code with clj-kondo"
                            :task (if (seq *command-line-args*)
                                    (apply shell "clj-kondo" "--lint" *command-line-args*)
                                    (apply shell "clj-kondo --lint" paths))}
         qa                {:doc     "Run full quality assurance: format, lint, and test"
                            :depends [fmt lint test]}}}
