{:paths   ["src/clj" "resources"]
 :deps    {org.clojure/clojure                 {:mvn/version "1.12.5"}
           org.clojure/core.async              {:mvn/version "1.9.865"}
           jarohen/chime                       {:mvn/version "0.3.3"}
           org.clojure/tools.logging           {:mvn/version "1.3.1"}
           party.donut/system                  {:mvn/version "1.0.259"}
           aero/aero                           {:mvn/version "1.1.6"}
           ;; Raspberry PI GPIO
           com.diozero/diozero-core            {:mvn/version "1.4.1"
                                                ;; :local/root "/home/admin/diozero/diozero-core/target/diozero-core-1.4.0.jar"
                                                }
           com.diozero/diozero-provider-pigpio {:mvn/version "1.4.1"}
           ;; vlc audio player library
           ol/vinyl                            {:local/root "/home/ramblurr/src/github.com/ramblurr/vinyl"}
           ;; File system munging
           babashka/fs                         {:mvn/version "0.5.34"}
           ;; Homeassistant integration via MQTT
           clojurewerkz/machine_head           {:mvn/version "1.0.0"}
           ;; Database
           duratom/duratom                     {:mvn/version "0.5.9"}
           ;; Util
           medley/medley                       {:mvn/version "1.4.0"}
           exoscale/cloak                      {:mvn/version "1.0.42"}
           ;; Routing
           metosin/reitit                      {:mvn/version "0.10.1"}
           ;; Ring
           metosin/ring-http-response          {:mvn/version "0.9.5"}
           ring/ring-core                      {:mvn/version "1.15.5"}
           ring/ring-defaults                  {:mvn/version "0.7.1"}
           ;; Data coercion
           luminus-transit/luminus-transit     {:mvn/version "0.1.6"}
           metosin/muuntaja                    {:mvn/version "0.6.11"}
           cheshire/cheshire                   {:mvn/version "6.2.0"}
           ;; HTML and CSS
           com.thheller/shadow-css             {:mvn/version "0.6.4"}
           simpleui/simpleui                   {:git/url "https://github.com/whamtet/simpleui",
                                                :git/sha "6bdb99e17eb7b0c719440f8dd81f3107f969552f"}
           dev.data-star.clojure/http-kit      {:mvn/version "1.0.0-RC11"}
           hyper/lith                          {:local/root "/home/ramblurr/src/github.com/andersmurphy/hyperlith"}
           ;; Events
           jp.nijohando/event                  {:git/url "https://github.com/Ramblurr/event"
                                                :git/sha "9cb238a9ea2f4cb972289b532c0612c9598fb686"}
           ;; posix signal handling
           spootnik/signal                     {:mvn/version "0.2.5"}
           ;; http client requests
           hato/hato                           {:mvn/version "1.0.0"}
           ;; troubleshoot in prod
           djblue/portal                       {:mvn/version "0.67.0"}
           nrepl/nrepl                         {:mvn/version "1.7.0"}}
 :aliases {:build      {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.14"}}
                        :ns-default build}
           :dev        {:extra-deps  {com.lambdaisland/classpath      {:mvn/version "0.8.70"}
                                      criterium/criterium             {:mvn/version "0.4.6"}
                                      expound/expound                 {:mvn/version "0.9.0"}
                                      mvxcvi/cljstyle                 {:mvn/version "0.17.642"}
                                      pjstadig/humane-test-output     {:mvn/version "0.11.0"}
                                      ring/ring-devel                 {:mvn/version "1.15.5"}
                                      ring/ring-mock                  {:mvn/version "0.6.2"}
                                      org.slf4j/slf4j-nop             {:mvn/version "2.0.17"}
                                      io.github.kit-clj/kit-generator {:mvn/version "0.2.9"}
                                      org.clojure/tools.namespace     {:mvn/version "1.5.1"}
                                      com.clojure-goes-fast/virgil    {:mvn/version "0.2.1"}
                                      dev.weavejester/hashp           {:mvn/version "0.5.1"}}
                        :extra-paths ["env/dev/clj" "env/dev/resources" "test/clj"]
                        :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                                      "-Djdk.attach.allowAttachSelf" ;; https://nrepl.org/nrepl/installation.html#jvmti
                                      "-DPIGPIOD_HOST=127.0.0.1"
                                      "-XX:+UseZGC"
                                      "--enable-native-access=ALL-UNNAMED"]}
           :remote-dev {:extra-deps {refactor-nrepl/refactor-nrepl {:mvn/version "3.14.0"}
                                     nrepl/nrepl                   {:mvn/version "1.7.0"}
                                     cider/cider-nrepl             {:mvn/version "0.62.2"}}
                        :main-opts  ["-m" "nrepl.cmdline"
                                     "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware,portal.nrepl/wrap-portal]"
                                     "--bind" "0.0.0.0"
                                     "--port" "7002"]}
           :kaocha     {:extra-paths ["test"]
                        :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                        :main-opts   ["-m" "kaocha.runner"]}}}
