{:fairy.box/settings {:fairybox-id "test"
                      :media       {:media-dir #or [#env MEDIA_DIR "/home/admin/media"]}
                      :shutdown    {:type :pimoroni-onoff-shim}
                      :sfx         {:shutdown "sfx/sergequadrado__celtic-positive-intro.wav"
                                    :startup  "sfx/sergequadrado__magic-harp-logo.wav"}}

 :fairy.box.db/db                   {:path #or [#env DB_PATH "db.edn"]}
 :fairy.box.bus/bus                 {}
 :fairy.box.switchboard/switchboard {:bus     #ig/ref :fairy.box.bus/bus
                                     :settings  #ig/ref :fairy.box/settings
                                     :db-conn #ig/ref :fairy.box.db/db}
 :fairy.box.audio.system/player     {:bus #ig/ref :fairy.box.bus/bus
                                     :settings  #ig/ref :fairy.box/settings}
 :fairy.box.web.routes.ui/ws-events {:bus      #ig/ref :fairy.box.bus/bus
                                     :settings #ig/ref :fairy.box/settings
                                     :db-conn  #ig/ref :fairy.box.db/db}
 :reitit.routes/bus-emitter         {:bus     #ig/ref :fairy.box.bus/bus
                                     :db-conn #ig/ref :fairy.box.db/db}
 :fairy.box.hardware/rfid           {:bus       #ig/ref :fairy.box.bus/bus
                                     :rfid-type :mfrc522
                                     :mfrc522   {:reset-gpio 25}}
 :fairy.box.hardware/buttons        {:bus     #ig/ref :fairy.box.bus/bus
                                     :buttons [{:gpio 22 :action :audio/prev}
                                               {:gpio 23 :action :audio/next}
                                               {:gpio 27 :action :audio/play-pause}
                                               {:gpio 5 :action :audio/volume-up}
                                               {:gpio 6 :action :audio/volume-down}
                                               {:gpio 17 :action :system/shutdown}]}

 :fairy.box.hardware/leds {:bus    #ig/ref :fairy.box.bus/bus
                           :leds   [{:gpio 14 :led-type :pwm :name :audio/prev}
                                    {:gpio 7 :led-type :pwm :name :audio/next}
                                    {:gpio 12 :led-type :pwm :name :audio/play-pause}
                                    {:gpio 13 :led-type :pwm :name :audio/volume-up}
                                    {:gpio 15 :led-type :pwm :name :audio/volume-down}
                                    ;; {:gpio 17 :led-type :led :name :system/power}
                                    ]
                           :groups {}}

 :fairy.box.mqtt/client {:uri       "tcp://10.9.4.3:1883"
                         :mqtt-opts {:auto-reconnect     true
                                     :connection-timeout 5}
                         :bus       #ig/ref :fairy.box.bus/bus
                         :settings  #ig/ref :fairy.box/settings
                         :qos       2}

 :fairy.box/startup {:leds        #ig/ref :fairy.box.hardware/leds
                     :bus         #ig/ref :fairy.box.bus/bus
                     :rfid        #ig/ref :fairy.box.hardware/rfid
                     :player      #ig/ref :fairy.box.audio.system/player
                     :settings    #ig/ref :fairy.box/settings
                     :switchboard #ig/ref :fairy.box.switchboard/switchboard
                     :http        #ig/ref :server/http}

 :system/env
 #profile {:dev  :dev
           :test :test
           :prod :prod}

 :nrepl/server
 {:port #long #or [#env NREPL_PORT 7000]
  :bind #or [#env NREPL_HOST "127.0.0.1"]}

 :server/http
 {:port    #long #or [#env PORT 3000]
  :host    #or [#env HTTP_HOST "0.0.0.0"]
  :handler #ig/ref :handler/ring}

 :handler/ring
 {:router               #ig/ref :router/core
  :api-path             "/api"
  :cookie-secret        #or [#env COOKIE_SECRET "MSVVXSSEIXYTNOQA"]
  ;; from ring.middleware.defaults. anti-forgery `false` by default because services may not require it
  :site-defaults-config {:params    {:urlencoded true
                                     :multipart  true
                                     :nested     true
                                     :keywordize true}
                         :cookies   true
                         :session   {:flash        true
                                     :cookie-name  "fairy.box"
                                     :cookie-attrs {:max-age   86400
                                                    :http-only true
                                                    :same-site :strict}}
                         :security  {:anti-forgery         false
                                     :xss-protection       {:enable? true,
                                                            :mode    :block}
                                     :frame-options        :sameorigin
                                     :content-type-options :nosniff}
                         :static    {:resources "public"}
                         :responses {:not-modified-responses true
                                     :absolute-redirects     true
                                     :content-types          true
                                     :default-charset        "utf-8"}}}

 :reitit.routes/api
 {:base-path "/api"
  :env       #ig/ref :system/env
  :emitter   #ig/ref :reitit.routes/bus-emitter}

 :router/routes
 {:routes #ig/refset :reitit/routes}

 :router/core
 {:routes #ig/ref :router/routes}
 :reitit.routes/ui {:base-path "",
                    :db-conn   #ig/ref :fairy.box.db/db
                    :settings  #ig/ref :fairy.box/settings
                    :emitter   #ig/ref :reitit.routes/bus-emitter
                    :env       #ig/ref :system/env}}
