@import "tokens.css";
@import "range.css";

html {
  font-family:
    "Noto Sans",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}
body {
  background: var(--white-rock-100);
  color: var(--gray-900);
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--smoky-950);
    color: white;
  }
}

#root,
.app {
  height: 100%;
  width: 100%;
  position: relative;
}

button:focus {
  outline: none;
  box-shadow: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
}

.htmx-swapping > .fade-in-out {
  opacity: 0;
}

.htmx-swapping.htmx-settling > .fade-in-out {
  opacity: 1;
}

.fade-in-out {
  opacity: 1;
  transition: opacity 0.1s ease-out;
}

.tab-active {
  background: var(--smoky-500);
  color: var(--smoky-900);
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  .tab-active {
    background: var(--smoky-900);
    color: var(--smoky-400);
  }
}
