:root {
  --color-accent-secondary-fade-85: var(--red-800);
  --color-text-header: var(--red-800);
  --color-border-table: var(--juniper-800);
  --color-background-table: var(--juniper-950);
  --color-hover-background: var(--mine-shaft-800);
  --tw-ring-inset: " ";
  --tw-ring-offset-width: "0px";
  --tw-ring-offset-color: "#fff";
  --tw-ring-offset-shadow: "0 0 #0000";
  --tw-ring-shadow: "0 0 #0000";
  --tw-shadow: "0 0 #0000";
  --tw-shadow-colored: "0 0 #0000";
  --range-fg: var(--smoky-500);
  --range-fill: var(--smoky-500);
}
@media (prefers-color-scheme: dark) {
  :root {
    --range-fg: var(--smoky-100);
    --range-fill: var(--smoky-500);
  }
}
